html,body{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	margin: 0; height: 100%; overflow: hidden
}
#profpic{
	position: absolute;
	bottom: 0;
	left: 0;
	max-width: 300px;
	z-index: 99 !important;
	/*margin-left: calc(50% - 150px);*/
	max-height: 35%;
}
#logo{
	position: absolute;
	max-width: 70%;
	/*margin-left: 15%;*/
	top: 0;
	left: 0;
	margin-top: 50px;
	z-index: 50 !important;
	max-height: 35%;
}
canvas {
  background: #000;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0.3;
}
#center-update-thing{
	background-color: rgba(255, 255, 255, 0.8);
	width: 400px;
	padding: 20px;
	text-align: center;
	font-size: 22px;
}
.palmtrees{
	position: absolute;
	bottom: 0;
}
.palmtrees-two{
	position: absolute;
	bottom: 0;
	margin-left: 350px;
	width: 150px;
	opacity: 0.5;
}
#palmtree-set1 .palmtrees-reverse{
	position: absolute;
	bottom: 0;
	margin-left: 500px;
}
#palmtree-set2 .palmtrees-reverse{
	position: absolute;
	bottom: 0;
	right: 0;
}
#palmtree-set2 .palmtrees-two{
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 350px;
}
#palmtree-set2{
	right: 0;
	position: absolute;
}
.head-of-site{
	position: absolute;
}
#link-buttons{
	position: absolute;
	top: 0;
	width: 70%;
	margin-left: 15%;
	text-align: center;
}
#link-buttons img{
	z-index: 99 !important;
}
.social-media-icon{
	margin: 5px;
	width: 35px;
	border-radius: 50px;
	cursor: pointer;
	z-index: 99 !important;
}
@media screen and (min-width: 1px) and (max-width: 550px){
    #logo {
        margin-top: 18vh;
        width: 80%;
        margin-left: 10%;
        max-width: none;
        max-height: none;
    }
    #profpic{
    	width: 55%;
    	margin-left: 22.5%;
    	max-width: none;
        max-height: none;
    }
    .social-media-icon{
		margin-left: 1%;
		width: 15%;
		border-radius: 50px;
		cursor: pointer;
		z-index: 99 !important;
	}
}​
