@import url('https://fonts.googleapis.com/css?family=Oxygen:300');

html,body{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	font-family: 'Oxygen', sans-serif;
}
#app{
	visibility: hidden;
}
#loading{
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
}
#profpic{
	position: fixed;
	bottom: 0;
	left: 0;
	max-width: 300px;
	z-index: 99999 !important;
	/*margin-left: calc(50% - 150px);*/
	max-height: 35%;
	visibility: hidden;
	transition: 0.3s;
}

#logo{
	position: absolute;
	max-width: 70%;
	visibility: hidden;
	transition: 0.3s;
	top: 0;
	left: 0;
	margin-top: 50px;
	z-index: 50 !important;
	max-height: 35%;
}
canvas {
  background: rgb(255, 255, 255);
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0.4;
}
#center-update-thing{
	background-color: rgba(255, 255, 255, 0.8);
	width: 400px;
	padding: 20px;
	text-align: center;
	font-size: 22px;
}
.palmtrees{
	position: absolute;
	bottom: 0;
}
#palmtree-set1{
	position: fixed;
}
.palmtrees-two{
	position: absolute;
	bottom: 0;
	margin-left: 350px;
	width: 150px;
	opacity: 0.5;
}
#palmtree-set1 .palmtrees-reverse{
	position: absolute;
	bottom: 0;
	margin-left: 500px;
}
#palmtree-set2 .palmtrees-reverse{
	position: absolute;
	bottom: 0;
	right: 0;
}
#palmtree-set2 .palmtrees-two{
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 350px;
}
#palmtree-set2{
	right: 0;
	position: fixed;
}

#link-buttons{
	position: absolute;
	top: 0;
	width: 70%;
	margin-left: 15%;
	text-align: center;
}
#link-buttons img{
	z-index: 99 !important;
}
.social-media-icon{
	margin: 5px;
	width: 35px;
	border-radius: 50px;
	cursor: pointer;
	z-index: 99 !important;
}
#content-area{
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 9999 !important;
}
#content-area iframe{
	position: relative;
	z-index: 99 !important;
}
#album-art{
	z-index: 99 !important;
	position: relative;
}
.drop {
	background-color: #02C0F8;
	position: fixed;
	display: block;
	width: 6px;
	height: 25px;
	top: -15px;
	z-index: 10 !important;
	border-radius: 5px;
	-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}
.water {
	height: 1000px;
	width: 100%;
	bottom: -1000px;
	background-color: #02c0f8;
	position: absolute;
}
@media screen and (min-width: 1px) and (max-width: 550px){
    #logo {
        margin-top: 18vh;
        width: 80%;
        margin-left: 10%;
        max-width: none;
        max-height: none;
    }
    #profpic{
    	width: 55%;
    	margin-left: 22.5%;
    	max-width: none;
        max-height: none;
    }
    .social-media-icon{
		margin-left: 1%;
		width: 15%;
		border-radius: 50px;
		cursor: pointer;
		z-index: 99 !important;
	}
	#palmtree-set1{
		display: none;
	}
	#palmtree-set2{
		display: none;
	}
	.drop {
	  background-color: #02C0F8;
	  position: fixed;
	  display: block;
	  width: 5px;
	  height: 15px;
	}
}​
